* {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

html,
body {
	background-color: #f6edf6;
	height: 100%;
}

@keyframes animatedBackground {
	from {
		background-size: 1380px;
	}
	to {
		background-size: 1600px;
	}
}

@font-face {
	font-family: "Baskerville bold";
	src: url("../fonts/LibreBaskerville-Bold.ttf");
}

@font-face {
	font-family: "Baskerville regular";
	src: url("../fonts/LibreBaskerville-Regular.ttf");
}

.maincontener {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.bg-image {
	width: 1180px;
	height: 626px;
	margin: auto;
	background-image: url(../images/fond.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1380px;
	animation: animatedBackground 80s linear infinite alternate;
}

nav {
	position: absolute;
	left: -258px;
	top: 51px;
	width: 240px;
	font-size: 14px;
}

nav li {
	padding: 4px 26px 5px 5px;
	list-style: none;
	background: url(../images/circle.svg) no-repeat left top;
	background-size: 12px;
	background-position: right 7px;
	text-align: right;
}

.visible {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	min-height: 610px;
	max-height: 100%;
	overflow: auto;
}

.hidden {
	display: none;
}

.navlink {
	font-family: "Baskerville bold";
	color: #1a1818;
	font-size: 13px;
	letter-spacing: 1px;
	/* font-weight: 600; */
	text-decoration: none;
}

.navlink:hover {
	border-bottom: 1px solid #1a1818;
}

.default:link,
.default:visited,
.default:active {
	font-size: 13px;
	color: #1a1818;
	text-decoration: none;
}

.default:hover {
	text-decoration: underline;
}

div#propos>div.content-top>p a.reflink,
div#propos>div.content-top>p a.reflink:visited {
	color: #d12020;
}

.blocpage {
	padding-top: 1px;
	position: relative;
	width: 530px;
	min-width: 300px;
	height: 610px;
	margin: 0 auto;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.86);
	font-family: "Baskerville regular";
	color: #1a1818;
}

footer {
	background-color: beige;
}

.blochome-title {
	height: 150px;
}

.blochome-vocal {}

.content-top {
	text-align: center;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
}

.content-footer {
	text-align: center;
	position: absolute;
	bottom: 13px;
	left: 0px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

h1.home {
	font-family: "Baskerville bold";
	letter-spacing: 2px;
	font-size: 25px;
	margin: 30px 0px 0px 0px;
}

h2.home {
	font-size: 21px;
	margin: 7px 0px -6px 0px;
}

.vocal-title {
	font-family: "Baskerville bold";
	font-size: 19px;
	letter-spacing: 1px;
	margin-top: 8px;
	margin-bottom: 0px;
}

.vocal-audio {
	margin-top: 9px;
}

.vocal-duration {
	font-size: 12px;
	padding: 2px;
	letter-spacing: 1px;
}

.blochome-adress {
	margin-top: 99px;
}

.adresse-txt {
	font-size: 14px;
	padding-bottom: 6px;
	letter-spacing: 1px;
}

.footer {
	padding-top: 5px;
	padding-right: 5px;
	text-align: right;
	font-size: 11px;
	background-color: #f6edf6;
}

.homebtn {
	width: 143px;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
	padding-top: 7px;
	display: inline-block;
	border: 1px solid rgb(231, 219, 219, 0.85);
	border-radius: 6px;
	height: 77px;
	vertical-align: top;
}

.homebtn:hover {
	border: 1px solid rgba(194, 184, 184, 0.85);
	background-color: rgb(231, 219, 219, 0.2);
}

.homebtn img.picto {
	vertical-align: middle;
	margin-top: 6px;
}

.homebtn img.doctolib {
	vertical-align: middle;
	margin-top: 9px;
}

.homebtn-title {
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 11px;
	color: #1a1818;
}

.topbar {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 10px;
	text-align: right;
}

h1.page-title {
	font-family: "Baskerville bold";
	font-size: 21px;
	margin-top: 30px;
}

h2.page-title {
	font-family: "Baskerville bold";
	font-size: 15px;
	margin-top: 30px;
}

h3.page-title {
	font-family: "Baskerville bold";
	font-size: 14px;
	margin-top: 30px;
}

.page-text {
	text-align: left;
	font-size: 13px;
	line-height: 30px;
}

.centertxt {
	text-align: center;
}

div#cabinet {
	background-image: url(../images/cabinet.png);
	background-size: cover;
	background-position: top 175px left 0px;
	background-repeat: no-repeat;
}

@media screen and (max-width:1180px) {
	.maincontener {
		height: 626px;
	}
}

@media screen and (max-width:900px) {
	.blochome-adress {
		margin-top: 79px;
	}
	nav {
		position: static;
		width: 100%;
	}
	nav ul {
		padding-inline-start: 0px;
		width: 100%;
		min-width: 350px;
		background-color: rgba(240, 225, 238, 0.65);
		margin: 0px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	nav li {
		padding: 4px 13px 5px 21px;
		display: inline-block;
		background-position: 3px 8px;
		background-size: 10px;
	}
	.visible {
		top: 47px;
		min-height: 562px;
		max-height: 562px;
	}
	.blocpage {
		height: 609px;
	}
	.blochome-title {
		height: 123px;
	}
}

@media screen and (max-width:530px) {
	.blocpage {
		width: 100%;
	}
	.content-top {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media screen and (max-width:460px) {
	.visible {
		top: 75px;
		min-height: 534px;
		max-height: 534px;
	}
	.blochome-title {
		height: 123px;
	}
	.content-footer {
		padding-bottom: 20px;
	}
	.blochome-adress {
		margin-top: 40px;
	}
}