html {
	height: 100%;
}
body {
	background-color: #f6edf6;
	margin:0;
	height: 100%;
}
@font-face {
	font-family: "Baskerville bold";
	src: url("./fonts/LibreBaskerville-Bold.ttf");
}
@font-face {
	font-family: "Baskerville regular";
	src: url("./fonts/LibreBaskerville-Regular.ttf");
}
@keyframes animatedBackground {
	from {
		background-position: 0px -50px;
		background-size: 106%;
	}
	to {
		background-position: -70px -90px;
		background-size: 120%;
	}
}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
	height:100%;
	width: 100%;
}
.container{
	width:1180px;
	min-width: 1180px;
	height:610px;
	background-image:url(./images/fond.jpeg);
	background-size:cover;
	background-repeat:no-repeat;
	margin: auto;
	animation: animatedBackground 5s linear infinite alternate;
}
.content{
	position:relative;
	height: 100%;
	background-color:rgba(255, 255, 255, 0.86);
	width : 530px;
    margin: auto;
    font-family: "Baskerville regular";
	color: #1a1818;
}
section{
    padding-top: 1px;
}

@media all and (max-width: 1024px){
    .container{
        width:100%;
        min-width: 100%;
      
    }

    @keyframes animatedBackground {
        from {
            background-position: 0px -50px;
            background-size: 206%;
        }
        to {
            background-position: -70px -90px;
            background-size: 320%;
        }
    }
    
}

@media all and (min-width: 1024px) and (max-width: 1240px){
    .container{
        width:1000px;
        min-width: 1000px;
       height: 550px;
    }
    
    
}