/**{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin:3px;
}*/

html {
 /*   border-style: solid;
    border-width: 1px;
    border-color: black;
    margin:3px;*/
    height: 100%;
    /*width: 100%;*/
}
body {
    background-color: #f6edf6;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 60, 60);
    margin:3px;
    /*margin:0;*/
   /* width: 100%;*/
    height: 100%;
 /*   margin:0;*/
}
@keyframes animatedBackground {
	from {
		/*background-position: 0px -50px;*/
		background-size: 1300px;
	}
	to {
		/*background-position: -70px -90px;*/
		background-size: 1500px;
	}
}
.center{
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	height:100%;
    width: 100%;
  /*  border-style: solid;
    border-width: 1px;
    border-color: rgb(93, 60, 214);
    margin:3px;*/
}
.container{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 60, 60);
    margin:3px;
	max-width:1180px;
    width: calc(100%);
   /* min-width:530px;*/
	height:610px;
    }
    main{
        display:flex;
        justify-content: center;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(214, 60, 60);
        margin:3px;
        height: 580px;
        /*min-width:530px;*/
        background-image:url(./images/fond.jpeg);
        background-repeat: no-repeat;
        background-position: center center;
        /*background-size: 1300px;*/
        animation: animatedBackground 50s linear infinite alternate;
    }

    footer{
        border-style: solid;
        border-width: 1px;
        border-color: rgb(214, 60, 60);
        margin:3px;
       /* min-width:530px;*/
       
    }
    section{
        border-style: solid;
        border-width: 1px;
        border-color: rgb(214, 60, 60);
        margin:3px;
        width:530px;
        min-width:530px;
    }



