/**{
    border-style: solid;
    border-width: 1px;
}*/

html {
	height: 100%;
}
body {
	background-color: #f6edf6;
	margin:0;
	height: 100%;
}
@font-face {
	font-family: "Baskerville bold";
	src: url("./fonts/LibreBaskerville-Bold.ttf");
}
@font-face {
	font-family: "Baskerville regular";
	src: url("./fonts/LibreBaskerville-Regular.ttf");
}
@keyframes animatedBackground {
	from {
		background-position: 0px -50px;
		background-size: 110%;
	}
	to {
		background-position: -70px -90px;
		background-size: 125%;
	}
}
.center{
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	height:100%;
	width: 100%;
}
.container{
    
	width:1180px;
	min-width: 1070px;
	height:610px;
	background-image:url(./images/fond.jpeg);
	background-size:cover;
	background-repeat:no-repeat;
	margin: auto;
	animation: animatedBackground 5s linear infinite alternate;
}
.content{
	position:relative;
	height: 100%;
	background-color:rgba(255, 255, 255, 0.86);
    width : 530px;
    
    margin: auto;
    font-family: "Baskerville regular";
	color: #1a1818;
}
section{
    padding-top: 1px;
}
.footer{
    margin:0px;
}

@media all and (min-width:800px) and (max-width: 1070px){
    .container{
        width:100%;
        min-width: 800px;
        height: 610px;
    }

    @keyframes animatedBackground {
        from {
            background-position: -40px -20px;
            background-size: 139%;
        }
        to {
            background-position: -100px -70px;
            background-size: 150%;
        }
    }
    
}

@media all and (max-width: 799px){
    .container{
        width:100%;
        min-width: 530px;
        height: 610px;
    }

    @keyframes animatedBackground {
        from {
            background-position: -230px -20px;
            background-size: 200%;
        }
        to {
            background-position: -180px -0px;
            background-size: 250%;
        }
    }
    
}

