html {
	height: 100%;
}
body {
	background-color: #f6edf6;
	margin:0;
	height: 100%;
}
@font-face {
	font-family: "Baskerville bold";
	src: url("./fonts/LibreBaskerville-Bold.ttf");
}
@font-face {
	font-family: "Baskerville regular";
	src: url("./fonts/LibreBaskerville-Regular.ttf");
}
@keyframes animatedBackground {
	from {
		background-position: 0px -50px;
		background-size: 106%;
	}
	to {
		background-position: -70px -90px;
		background-size: 120%;
	}
}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
	height:100%;
	width: 100%;
}
.container{
	width:1180px;
	min-width: 1100px;
	height:610px;
	background-image:url(./images/fond.jpeg);
	background-size:cover;
	background-repeat:no-repeat;
	margin: auto;
	animation: animatedBackground 100s linear infinite alternate;
}
.content{
	position:relative;
	height: 100%;
	background: white;
	background-color:rgba(255, 255, 255, 0.86);
	width : 45%;
    margin: auto;
    font-family: "Baskerville regular";
	color: #1a1818;
}
nav{
	position:absolute;
	left:-280px;
	top:50px;
	width:240px;
	font-size: 14px;
	/*letter-spacing: 0px;*/
	font-weight: 600;
}
nav li {
	padding: 5px 5px 5px 20px;
	list-style: none;
	background: url(./images/circle.svg) no-repeat left top;
	background-size: 12px;
	background-position: 0px 8px;
}
.visible{
	box-sizing:border-box;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	min-height: 610px;
	max-height:100%;
	overflow: auto;
}
.hidden{
	display:none;
}
.content-top{
	text-align: center;
	box-sizing:border-box;
	width:100%;
	padding-left: 40px;
	padding-right: 40px;
}
.topbar{
	background-color:rgba(255, 255, 255, 0.2);
	padding:10px;
	text-align: right;
}
h1.page{
	font-family: "Baskerville bold";
	letter-spacing: 0px;
	font-size: 21px;
	margin-top: 30px;
}
h2.page{
	font-family: "Baskerville bold";
	text-align: center;
	letter-spacing: 0px;
	font-size: 15px;
	margin-top: 30px;
}
h3.page{
	font-family: "Baskerville bold";
	text-align: center;
	letter-spacing: 0px;
	font-size: 14px;
	margin-top: 30px;
}
p.page{
	text-align: left;
	font-size: 13px;
	line-height: 30px;
}
p.pagecenter{
	text-align: center;
	font-size: 13px;
	line-height: 30px;
}
.content-footer{
	text-align: center;
	box-sizing:border-box;
	position:absolute;
	bottom:13px;
	left:0px;
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
	padding-left: 40px;
	padding-right: 40px;
}
.footer{
	padding-top: 5px;
	padding-right: 5px;
	text-align: right;
	font-size: 11px;
}
p , h1, h2{
	margin:0;
}
.navlink {
	color: #1a1818;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 600;
	text-decoration: none;
}
.navlink:hover{
/*	text-decoration: underline;*/
border-bottom:1px solid #1a1818;


}
.default:link, .default:visited, .default:active{
    font-size: 13px;
    color:#1a1818;
	text-decoration: none;
}
.default:hover{
	text-decoration: underline;
}


.extern:link, .extern:visited, .extern:active{
	font-size: 11px;
    color:#1a1818;
	text-decoration: none;	
}
.extern:hover{
	text-decoration: underline;
}
div#propos>div.content-top>p a.reflink,
div#propos>div.content-top>p a.reflink:visited
{
	color:#d12020;
	/*color:#0000EE;*/
}


div#cabinet
{
	background-image:url(./images/cabinet.png);
	background-size:cover;
	background-position: top 175px left 0px;
	background-repeat: no-repeat;
	/*background-position: bottom 0px right 0px;
	background-repeat:no-repeat;*/
}

h1.home{
	font-family: "Baskerville bold";
	letter-spacing: 2px;
	font-size: 25px;
	font-weight: 100;
	margin: 30px 0px 0px 0px;
}
h2.home{
	font-size: 21px;
	margin: 7px 0px -6px 0px;
	font-weight: 300;
}

.txt{
	font-family: "Baskerville bold";
	font-size: 19px;
	letter-spacing: 1px;
	font-weight: 900;
	padding-top:8px;
}
.txt2{
	font-family: "Baskerville bold";
	font-size: 19px;
	letter-spacing: 1px;
	font-weight: 900;
	padding-top:8px;
	padding-bottom: 10px;
}
#tel{
	font-family: "Baskerville regular";
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 400;
	padding-top:0px;
	padding-bottom: 10px;
}
.txt-light{
	font-size: 12px;
	padding:2px;
	letter-spacing: 1px;
}
.txtcslt{
	font-size: 14px;
	padding-bottom:6px;
	letter-spacing: 1px;
	font-weight: 400;
}
.txtcslt2{
	font-size: 14px;
	padding-bottom:6px;
	letter-spacing: 1px;
	font-weight: 400;
}
img.picto {
	vertical-align:middle;
	margin-top:6px;
}
img.doctolib {
	vertical-align:middle;
	margin-top:9px;
}
.vertical{
	box-sizing:border-box;
	width:143px;
	margin-top: 8px;
	margin-left: 8px;
    margin-right: 8px;
	padding-top: 7px;
	display: inline-block;
	border: 1px solid rgb(231, 219, 219,0.85);
	border-radius: 6px;
	height: 77px;
	vertical-align: top;
	
}
.vertical:hover{
	/*text-decoration: underline;*/
	border: 1px solid rgba(194, 184, 184, 0.85);
	background-color:  rgb(231, 219, 219,0.2);
}

.cta-title{
	margin-top:5px;
	margin-bottom: 0px;
font-size: 11px;
	color:#1a1818;
	font-weight: 400;
}